node_modules/
.env
results/

# dashboard
dashboard/node_modules/
dashboard/.next/
dashboard/out/
dashboard/build/
dashboard/.env
dashboard/.env.local
dashboard/.env.development.local
dashboard/.env.test.local
dashboard/.env.production.local
